<!-- <header>
  <h1>JK Rideshare</h1>
</header>

<section>
  <p>Where we assign you a ride... JK!</p>
</section> -->
<html>


<body class="background_img">
  <section id="page_title">
    <h1>JK Rideshare</h1>
  </section>

</body>



</html>
