// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #form-container {
//   display: flex;
//   flex-direction: column;
//   font-weight: bold;
//   border: 2px solid var(--jk-blue);
//   border-radius: 6px;
//   align-items: center;
// }
//
// #form-container section h3 a:hover{
//   text-decoration: none;
//   color: hotpink;
// }
//
// #form-container section h3 a{
//   text-decoration: none;
//   color: black;
// }
//
// .form {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding-bottom: 10%;
// }
//
// .form input {
//   width: 100%;
//   margin: 1%;
// }
