// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// html {
//   font-size: 20px;
// }
// using rem makes all font on this website relative to 16px

#page_title {
  color: var(--jk-white);
  height: 10em;
  font-size: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

.background_img {
    background-image: url('/assets/aerial-view-architecture-bridges-681335.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-size:cover;
    background-color: var(--jk-darkpurple);
}
